DATABASE_URL="mysql://gsg:gsglazsda@localhost:3306/absensi_smk_ar_rahma?connection_limit=5"
JWT_SECRET="b6zf6P87few-81MRk1uz-zi6fFujFU0_D8qqQoDNyeJB1OjkATV7A3GsF6aKOVjI"
JWT_EXPIRES_IN="7d"
PORT=3000
FONNTE_TOKEN=""

# Auto-Alpha Scheduler
AUTO_ALPHA_HOUR=7
AUTO_ALPHA_MINUTE=10
AUTO_ALPHA_INTERVAL_MS=30000
SCHEDULER_SECRET="absensi_smk_ar_rahma_scheduler_secret_key_2026"
